<div>
  <h2 id="page-heading" data-cy="FabricEditorHeading">
    <span jhiTranslate="couturev2App.fabricEditor.home.title">FabricEditors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="couturev2App.fabricEditor.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-fabric-editor"
        [routerLink]="['/fabric-editor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="couturev2App.fabricEditor.home.createLabel"> Créer un nouveau Fabric Editor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fabricEditors?.length === 0">
    <span jhiTranslate="couturev2App.fabricEditor.home.notFound">Aucun Fabric Editor trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="fabricEditors && fabricEditors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="couturev2App.fabricEditor.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="printDate">
            <div class="d-flex">
              <span jhiTranslate="couturev2App.fabricEditor.printDate">Print Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="number">
            <div class="d-flex">
              <span jhiTranslate="couturev2App.fabricEditor.number">Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="editor">
            <div class="d-flex">
              <span jhiTranslate="couturev2App.fabricEditor.editor">Editor</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="language">
            <div class="d-flex">
              <span jhiTranslate="couturev2App.fabricEditor.language">Language</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="couturev2App.fabricEditor.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="image">
            <div class="d-flex">
              <span jhiTranslate="couturev2App.fabricEditor.image">Image</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fabricEditor of fabricEditors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/fabric-editor', fabricEditor.id, 'view']">{{ fabricEditor.id }}</a>
          </td>
          <td>{{ fabricEditor.name }}</td>
          <td>{{ fabricEditor.printDate | formatMediumDate }}</td>
          <td>{{ fabricEditor.number }}</td>
          <td jhiTranslate="{{ 'couturev2App.Editors.' + fabricEditor.editor }}">{{ fabricEditor.editor }}</td>
          <td jhiTranslate="{{ 'couturev2App.Language.' + fabricEditor.language }}">{{ fabricEditor.language }}</td>
          <td>{{ fabricEditor.price }}</td>
          <td>
            <a
              *ngIf="fabricEditor.image"
              (click)="openFile(fabricEditor.image, fabricEditor.imageContentType)"
              jhiTranslate="entity.action.open"
              >Ouvrir</a
            >
            <span *ngIf="fabricEditor.image">{{ fabricEditor.imageContentType }}, {{ byteSize(fabricEditor.image) }}</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/fabric-editor', fabricEditor.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/fabric-editor', fabricEditor.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(fabricEditor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="fabricEditors && fabricEditors.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
