<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fabricSeller">
      <h2 data-cy="fabricSellerDetailsHeading"><span jhiTranslate="couturev2App.fabricSeller.detail.title">Fabric Seller</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fabricSeller.id }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricSeller.name">Name</span></dt>
        <dd>
          <span>{{ fabricSeller.name }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricSeller.webSite">Web Site</span></dt>
        <dd>
          <span>{{ fabricSeller.webSite }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricSeller.description">Description</span></dt>
        <dd>
          <span>{{ fabricSeller.description }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricSeller.fabric">Fabric</span></dt>
        <dd>
          <span *ngFor="let fabric of fabricSeller.fabrics; let last = last">
            <a [routerLink]="['/fabric', fabric.id, 'view']">{{ fabric.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/fabric-seller', fabricSeller.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
