<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fabricMaintenance">
      <h2 data-cy="fabricMaintenanceDetailsHeading">
        <span jhiTranslate="couturev2App.fabricMaintenance.detail.title">Fabric Maintenance</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fabricMaintenance.id }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricMaintenance.name">Name</span></dt>
        <dd>
          <span>{{ fabricMaintenance.name }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricMaintenance.code">Code</span></dt>
        <dd>
          <span>{{ fabricMaintenance.code }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/fabric-maintenance', fabricMaintenance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
