<div class="row">
  <!--  <div class='col-md-3'>-->
  <!--    <span class='hipster img-fluid rounded'></span>-->
  <!--  </div>-->

  <!--  <div class='col-md-9'>-->

  <!--    <span jhiTranslate='home.title'>-->

  <div class="images-container" *ngIf="account">
    <a routerLink="/fabric">
      <img class="images" src="../../content/images/tissue.png" alt="" />
      <!--      <div class="image-text">Tissus</div>-->
    </a>
    <a routerLink="/fabric-seller">
      <img class="images" src="../../content/images/tissue.png" alt="" />
      <!--      <div class="image-text">Fabricant tissu</div>-->
    </a>
    <a routerLink="/patron">
      <img class="images" src="../../content/images/patron.png" alt="" />
      <!--      <div class="image-text">Patron</div>-->
    </a>
  </div>

  <!--  <h1 class='display-4' *ngIf='account'>Bienvenue sur le site de Ju' fait de la couture</h1>-->
</div>
