/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/logo.jpg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

/* ==========================================================================
Images styles
========================================================================== */
.images {
  max-width: 100px;
  max-height: 100px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
  //background: url('../../content/images/logo.jpg') no-repeat center center;
  background-size: contain;
  clip-path: ellipse(50% 50%); // rounded
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

//@media only screen and (max-width: 600px) {
//  .images-container {
//    flex-wrap: wrap;
//  }
//}

.images-container .text-au-dessus {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  color: black;
}

.image-text {
  font-size: 15px;
  //font-weight: bold;
  margin-top: 10px;
  text-align: center;
  color: #000;
}
