<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fabricTypes">
      <h2 data-cy="fabricTypesDetailsHeading"><span jhiTranslate="couturev2App.fabricTypes.detail.title">Fabric Types</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fabricTypes.id }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricTypes.name">Name</span></dt>
        <dd>
          <span>{{ fabricTypes.name }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricTypes.code">Code</span></dt>
        <dd>
          <span>{{ fabricTypes.code }}</span>
        </dd>
        <dt><span jhiTranslate="couturev2App.fabricTypes.description">Description</span></dt>
        <dd>
          <span>{{ fabricTypes.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/fabric-types', fabricTypes.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
